{% extends 'baselanding.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}


<section class="slider text-center" id="slider">
    <div class="slider-overlay">
        <div class="slider-content">
            <!--<div class="icons">
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
            </div>-->
            <br>
            <div class="text"></div>
            <div class="cta-div">
                <a href="" class="btn1">CONTACT US</a>
                <a href="" class="btn2">JOIN TODAY</a>
            </div>
            <br><br>
            <div class="social-networks">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-instagram"></a>
                <a href="" class="fa fa-youtube"></a>
                <a href="" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</section>
<br><br>

<!--Service-->
<div class="service-area" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2><b>SERVICE</b></h2>
                    <p>some text</p>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h3>Support</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h3>About us</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-diamond"></i>
                    </div>
                    <h3>Design</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <div class="service-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <h3>Entrepreneurs</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
</div><br><br>
</div><br><br>



<!--News-->


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><br>

                    <div class="blog-list clearfix">

					{% for post in posts[0:3] %}                    
					                        <div class="blog-box row">
					                            <div class="col-md-4">
					                                <div class="post-media">
					                                    <a href="tech-single.html" title="">
					                                    <img src="{{ asset('assets/img/Anreg.jpg') }}" alt="" class="img-fluid">
					                                    <div class="hovereffect"></div>
					                                    </a>
					                                </div>
					                            </div>

					                            <div class="blog-meta big-meta col-md-8">
					                                <h4><a href="tech-single.html" title="">{{post.title}}</a></h4>
					                                    <p>{{post.introText }}</p>
					                                  
					                                    <small>{{ post.datePublished ? post.datePublished|date('Y-m-d') : '' }}</small>
					                                    <small>by {{post.authorFn}}</small>
					                            </div>
					                        </div><br>

					                        <hr class="invis">
					{% endfor %}
                        
                    </div>
                </div>
            </div><br><br>

            <div class="box-area">
                <div class="box-one"></div>
                <div class="box-two"></div>
            </div>


            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Upcoming Events</h2>
                        <div class="blog-list-widget" style="">
                            <div class="list-group">
                                <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                         <img src="{{ asset('assets/img/Anreg.jpg') }}" alt="" style="width: 200px; height:150px;" class="img-fluid float-left">
                                        <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5>
                                       
                                    </div>
                            

                                <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                         <img src="{{ asset('assets/img/Anreg.jpg') }}" alt="" style="width: 200px; height:150px;" class="img-fluid float-left">
                                        <h5 class="mb-1">10 practical ways to choose organic..</h5>
                                     
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
       			</div>
    		</div>
        </div>
    </div>
</section>



<br><br><br>
<br><br>

<!--Member-->

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Members</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.entrepreneurs4future.de/wp-content/uploads/logo_E4F.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>


<!--Testimonials-->
<section class="testimonials-section">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonials">
            <div class="training-title">
                <h4 class="aoe-title">Testimonials</h4>
                <div class="line"></div>
            </div>          

        <div class="col-center m-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
 
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="img-box"><img src="https://www.eharmony.com/dating-advice/wp-content/uploads/images/goodsmile.jpg" alt=""></div>
                        <h4 class="carousel-title">Amazing Trainer!</h4>
                        <div class="carousel-line"></div>

                        <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. aliquet.</p>
                        <p class="overview"><b>- Paula Wilson</b></p>
                        <h6 class="company-name">Nations Trust Bank</h6>
                    </div>

                    <div class="item carousel-item">
                        <div class="img-box"><img src="https://www.eharmony.com/dating-advice/wp-content/uploads/images/goodsmile.jpg" alt=""></div>
                        <h4 class="carousel-title">Amazing Trainer!</h4>
                        <div class="carousel-line"></div>

                        <p class="testimonial"> Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. facilisis gravida odio.</p>
                        <p class="overview"><b>- Antonio Moreno</b></p>
                        <h6 class="company-name">Nations Trust Bank</h6>
                    </div>

                    <div class="item carousel-item">
                        <div class="img-box"><img src="https://www.eharmony.com/dating-advice/wp-content/uploads/images/goodsmile.jpg" alt=""></div>
                        <h4 class="carousel-title">Amazing Trainer!</h4>
                        <div class="carousel-line"></div>

                        <p class="testimonial"> Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus. </p>
                        <p class="overview"><b>- Michael Holz</b></p>
                        <h6 class="company-name">Nations Trust Bank</h6>
                    </div>

                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev"><span>Prev</span>
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next"><span>Next</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>

    </div>
</div>
</section>


<br><br><br>
<br><br><br>
<h6 class="loc" contenteditable data-text="Come find Us & be part of something great!">Join Us & be part of something great!</h6>

<br><br><br>


<br><br><br>
<!--Firmenlogo-->
<div class="row"style="margin-left:50px;margin-right: 50px;">
  <div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://www.gruene-arbeitswelt.de/images/presse/UnternehmensGruen-Logo.jpg" class="img-fluid"style="width: 100%; height: 300px;">
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://zeitundwert.de/wp-content/uploads/2019/09/ecosia-logo.jpg?x79484" class="img-fluid"style="width: 100%; height: 300px;"><br>
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://www.naturstrom.de/fileadmin/user_upload/presse/Download-Fotos/grafik/naturstrom-logo.jpg" class="img-fluid"style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://www.humboldt-innovation.de/projects/HumboldtInnovation/static/custom/image/Sliders/Slider_Pollion_Logo_1024x330px.jpg" class="img-fluid" style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(151).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://www.bbenergynetwork.de/wp-content/uploads/2017/01/plan8_logo_rgb_ohne_gmbh-b_sl.jpg" class="img-fluid" style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://1bank4all.net/images/puroverde-eg.jpg" class="img-fluid" style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://avocado.s3-eu-west-1.amazonaws.com/responsive_category_teasers/1185/full.jpg?1511253762" class="img-fluid" style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://s3-eu-central-1.amazonaws.com/goodevents-staging/image_attachments/files/5fa/b20/58-/original/mc_rgb_klein_fuer_Website.jpg?1537872091" class="img-fluid" style="width: 100%; height: 300px;"><br>
        </a>
      </figure><br>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="900x750"><br>
          <img alt="picture" src="https://www.das-intelligente-haus.de/sites/default/files/logos/Vaillant_Logo_400x200.jpg" class="img-fluid" style="width: 100%; height: 300px;">
        </a>
      </figure>

    </div>

  </div>
</div>



    <br>
    
    <br>
{#    i might be holding some of the latest blogposts? <br>#}


{#    <div class="row">#}
{#        {% for post in posts %}#}
{#            #}{# here are the blogposts/news (for now all) #}
{#            <div class="col-md-6 col-lg-4 mb-5 ">#}
{#                <img src="{{ post.imagemain }}" alt="">#}
{#                <h3>{{ post.title }}</h3>#}
{#                <a href="{{ path('news_show', {'id': post.id}) }}"><small class="text-muted">More info</small></a>#}
{#            </div>#}
{#        {% else %}#}
{#            <div>#}
{#                <p>no records found</p>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{% endblock %}