{% extends 'base.html.twig' %}

{% block title %}Members
{% endblock %}

{% block pagetitle %}Our Members{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}
{#	<h1 class="text-center">{{ 'our members'|upper }}</h1>#}

	<div class="container mt-4">
		<div class="d-flex row justify-content-between flex-wrap">
			{% for business in businesses %}
				<div class="card mb-3" style="width: 140em">
					<div class="row no-gutters">
						<div class="col-md-5">
							<img src="{{ business.image }}" class="card-img img-fluid" style="width: 40em; height:15em;" alt="...">
						</div>
						<div class="col-md-7">
							<div class="card-body">
								<h5 class="card-title">
									{{ business.name|upper }}</h5>
								<p>
									<small class="text-muted">branch:
									</small>
									{{ business.branch }}</p>
								{# <p class="card-text"></p> #}

								<p class="card-text">
									<i class="fas fa-map-marker text-warning"></i>
									<small class="text-muted">
										{{ business.zipcode }}
										{{ business.city }}
										|
										{{ business.strNameNr }}</small>
									<br>
									{% if business.telNr is not empty %}
										<i class="fas fa-phone-alt text-warning"></i>
										<small class="text-muted">
											{{ business.telNr }}</small>
										<br>
									{% endif %}
									<hr style="border: 1px dashed lightgray;">

									<a href="{{ path('members_show', {'id': business.id}) }}">
										<i class="fas fa-angle-double-right text-secondary fa-2x float-right"></i>
									</a>


									
								</p>

							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>



{% endblock %}
