{% extends 'base.html.twig' %}

{% block title %}Cause index{% endblock %}

{% block body %}
    <h1>Cause index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Excerpt</th>
                <th>Image</th>
                <th>Description</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cause in causes %}
            <tr>
                <td>{{ cause.id }}</td>
                <td>{{ cause.title }}</td>
                <td>{{ cause.subtitle }}</td>
                <td>{{ cause.excerpt }}</td>
                <td>{{ cause.image }}</td>
                <td>{{ cause.description }}</td>
                <td>{{ cause.dateStart ? cause.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ cause.dateEnd ? cause.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('cause_show', {'id': cause.id}) }}">show</a>
                    <a href="{{ path('cause_edit', {'id': cause.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cause_new') }}">Create new</a>
{% endblock %}
