{% extends 'pages/admin-temp.html.twig' %}

{% block title %}Cause{% endblock %}
{% block admintitle %}{{ cause.title }}{% endblock %}
{% block adminsubtitle %}{{ cause.subtitle }}{% endblock %}

{% block admin %}
    <div class="row ml-1">
        <div>
            <a class="btn btn-outline-secondary" href="{{ path('cause_index') }}">back to list</a>
        </div>
        <div>
            <a class="btn btn-outline-primary mx-3" href="{{ path('cause_edit', {'id': cause.id}) }}">edit</a>
        </div>
        <div>
            <form method="post" action="{{ path('cause_delete', {'id': cause.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cause.id) }}">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    </div>



    <table class="table table-striped mt-3 table-hover">
        <tbody>
        <tr class="table-secondary">
            <th class="h3 font-weight-light">Basic Info</th>
            <td></td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ cause.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ cause.title }}</td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td>{{ cause.subtitle }}</td>
        </tr>
        <tr>
            <th>Excerpt</th>
            <td>{{ cause.excerpt }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ cause.image }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ cause.description }}</td>
        </tr>
        <tr>
            <th>DateStart</th>
            <td>{{ cause.dateStart ? cause.dateStart|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>DateEnd</th>
            <td>{{ cause.dateEnd ? cause.dateEnd|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row ml-1 my-3">
        <div>
            <a class="btn btn-outline-secondary" href="{{ path('cause_index') }}">back to list</a>
        </div>
        <div>
            <a class="btn btn-outline-primary mx-3" href="{{ path('cause_edit', {'id': cause.id}) }}">edit</a>
        </div>
        <div>
            <form method="post" action="{{ path('cause_delete', {'id': cause.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cause.id) }}">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
