{% extends 'base.html.twig' %}

{% block title %}Business index{% endblock %}

{% block body %}
    <div class="my-5">
        <h3 class="display-4">Business Index</h3>
        <h4 class="font-weight-light">Add, view and edit companies that are members and stand for sustainable
            business.</h4>
    </div>

    <div class="row">
        <a class="btn btn-outline-primary mx-3" href="{{ path('business_new') }}">Create new</a>
        <a class="btn btn-outline-secondary mx-3" href="{{ path('admin') }}">Back to admin panel</a>
    </div>
    <br>
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th></th>
            <th>Logo</th>
            <th>Id</th>
            <th>Name and Branch</th>
            <th>Address</th>
            <th>Webpage & e-mail</th>
            <th>TelNr</th>
        </tr>
        </thead>
        <tbody>
        {% for business in businesses %}
            <tr>
                <th scope="row">
                    <a class="btn btn-outline-secondary btn-sm btn-block"
                       href="{{ path('business_show', {'id': business.id}) }}">show</a>
                    <a class="btn btn-outline-danger btn-sm btn-block"
                       href="{{ path('business_edit', {'id': business.id}) }}">edit</a>
                </th>
                <td><img src="{{ business.logo }}" alt="none" class="" height="60" width="60"></td>
                                <td>{{ business.id }}</td>
                <td>{{ business.name }} <br> {{ business.branch }}</td>
                <td>{{ business.strNameNr }} <br> {{ business.city }} <br> {{ business.zipcode }} <br>{{ business.country }}</td>
                <td>{{ business.webpage }} <br> {{ business.eMail }}</td>
                <td>{{ business.telNr }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-outline-primary mx-3" href="{{ path('business_new') }}">Create new</a>
        <a class="btn btn-outline-secondary mx-3" href="{{ path('admin') }}">Back to admin panel</a>
    </div>
{% endblock %}
