{% extends 'base.html.twig' %}

{% block title %}Cause Show{% endblock %}

{% block body %}
    <h1>Cause show single page</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ cause.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ cause.title }}</td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td>{{ cause.subtitle }}</td>
        </tr>
        <tr>
            <th>Excerpt</th>
            <td>{{ cause.excerpt }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ cause.image }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ cause.description }}</td>
        </tr>
        <tr>
            <th>DateStart</th>
            <td>{{ cause.dateStart ? cause.dateStart|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>DateEnd</th>
            <td>{{ cause.dateEnd ? cause.dateEnd|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>



    <div>
        <h3>Signatures collected</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>DocumentType</th>
                <th>Number</th>
                <th>FName</th>
                <th>LName</th>
                <th>Dob</th>
                <th>PlaceOb</th>
                <th>Nationality</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            {% for signatory in signatories %}
                <tr>
                    <td>{{ signatory.id }}</td>
                    <td>{{ signatory.documentType }}</td>
                    <td>{{ signatory.number }}</td>
                    <td>{{ signatory.fName }}</td>
                    <td>{{ signatory.lName }}</td>
                    <td>{{ signatory.dob ? signatory.dob|date('Y-m-d') : '' }}</td>
                    <td>{{ signatory.placeOb }}</td>
                    <td>{{ signatory.nationality }}</td>
                    <td>{{ signatory.address }}</td>
                    <td>{{ signatory.zipcode }}</td>
                    <td>{{ signatory.city }}</td>
                    <td>{{ signatory.country }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div>
        <h3>Sign here!</h3>
        {{ include('signatory/_form.html.twig') }}
    </div>

    <a href="{{ path('sign') }}">back to list</a>


{% endblock %}
