{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block pagetitle %}{{ post.title }}{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">{{ post.title }}</h1>
		<small class="text-muted mb-2">{{ post.authorFn }}
			{{ post.authorLn }}
			|
			{{ post.datePublished ? post.datePublished|date('Y-m-d') : '' }}</small>
		<div class="card">
			<img src="{{ post.imageMain }}" class="card-img-top" alt="image">
		</div>
		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters d-flex">
				<div class="col-lg-8 pr-4">
					<h5 class="card-title text-info"></h5>
					<div class="card-text" style="font-size:">{{ post.introText }}</div>
				</div>
				<div class="col-lg-4 mb-4" style="font-size: 2rem;">
					<div class="card-text">Lorem ipsum dolor
						<span class="text-info">
							<em>consetetur sadipscing elitr.</em>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters">
				<div class="col-lg-3">
					<img src="{{ post.imageMiddle }}" class="card-img vh-50" alt="...">
				</div>
				<div class="col-lg-9">
					<div class="card-body pl-4">
						<div class="card-text">
						 {{ post.mainText }}	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w-100 py-4 text-center">	
              <i class="fas fa-quote-left text-info"></i> <span style="font-size: 2.4rem;">Lorem ipsum dolor onsetetur sadipscing elitr. </span><i class="fas fa-quote-right text-info"></i>	
		</div>
		<div class="mb-3 w-100 py-4" style="max-width:;">
			<div class="row no-gutters">
				<div class="col-lg-9">
					<div class="card-body pl-4">
						<div class="card-text">
							{{ post.outroText }}
						</div>
					</div>
				</div>            
				<div class="col-lg-3">
					<img src="{{ post.imageBottom }}" class="card-img vh-50" alt="...">
				</div>
			</div>
		</div>

		{% if post.postType() == 'strike' %}
			<h1>only strike info</h1>
			{{ post.strikeDate ? post.strikeDate|date('Y-m-d') : ''  }}
			{{ post.strikeZipcode }}
			{{ post.strikeCountry }}
			{{ post.strikeCity }}
			{{ post.strikeAddress }}
		{% endif %}

		<button type="button" class="btn btn-info shadow">
			<a class="text-white" href="{{ path('news') }}">back to news</a>
		</button>
		
	</div>
{% endblock %}

