{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

        <div class="bg-light m-0 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col my-4">
                        <h1>{{ post.title }}</h1>
                        <br>
                        <h3>{{ post.subtitle }}</h3>
                        <br>
                        <p>{{ post.excerpt }}</p>
                    </div>

                    <div class="col-4 my-4 mr-0"> 
                            <h3>{{ post.businessname }}</h3> 
                            <h3>{{ post.businessbranch }}</h3> 
                            <img class="" style="width: 20vw;" src="{{ post.businesslogo }}" alt=""> 
                    </div> 
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="" style="width: 40vw;" src="{{ post.imageMain }}" alt="">
            </div>
            <div class="col">
                <p>{{ post.introText }}</p>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            {% if post.imageMiddle is empty %}
            <div class="col">
                <p>{{ post.mainText }}</p>
            </div>
            
            {% else %}
            <div class="col">
                <p>{{ post.mainText }}</p>
            </div>
            <div class="col">
                <img class="" style="width: 40vw;" src="{{ post.imageMiddle }}" alt="">
            </div>
            {% endif %}
        </div>

        <br>
        <br>

        <div class="row">
        {% if post.imageBottom is empty %}
            <div class="col">
                <p>{{ post.mainText }}</p>
            </div>
        {% else %}
            <div class="col">
                <img class="" style="width: 40vw;" src="{{ post.imageBottom }}" alt="">
            </div>

            <div class="col">
                <p>{{ post.outroText }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <a href="/posts/story">back to list</a>


{% endblock %}
