{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block pagetitle %}{{ post.title }}{% endblock %}
{% block pagesubtitle %}{% endblock %}

{% block body %}

    <h1>Post/news Single Page layout</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td>{{ post.subtitle }}</td>
        </tr>
        <tr>
            <th>DatePublished</th>
            <td>{{ post.datePublished ? post.datePublished|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>AuthorFn</th>
            <td>{{ post.authorFn }}</td>
        </tr>
        <tr>
            <th>AuthorLn</th>
            <td>{{ post.authorLn }}</td>
        </tr>
        <tr>
            <th>ImageMain</th>
            <td>{{ post.imageMain }}</td>
        </tr>
        <tr>
            <th>ImageMiddle</th>
            <td>{{ post.imageMiddle }}</td>
        </tr>
        <tr>
            <th>ImageBottom</th>
            <td>{{ post.imageBottom }}</td>
        </tr>
        <tr>
            <th>Excerpt</th>
            <td>{{ post.excerpt }}</td>
        </tr>
        <tr>
            <th>IntroText</th>
            <td>{{ post.introText }}</td>
        </tr>
        <tr>
            <th>MainText</th>
            <td>{{ post.mainText }}</td>
        </tr>
        <tr>
            <th>OutroText</th>
            <td>{{ post.outroText }}</td>
        </tr>
        </tbody>
    </table>

    {% if post.postType() == 'strike' %}
        <h1>only strike info</h1>
        {{ post.strikeDate ? post.strikeDate|date('Y-m-d') : ''  }}
        {{ post.strikeZipcode }}
        {{ post.strikeCountry }}
        {{ post.strikeCity }}
        {{ post.strikeAddress }}
    {% endif %}


    <a href="{{ path('news') }}">back to list</a>


{% endblock %}
