{% extends 'base.html.twig' %}

{% block title %}Cause Show{% endblock %}

{% block body %}
    <br>
    <div class="row ml-auto">
        <div class="col-8"> 
            <div class="card">
        
                <h1 class="card-title">{{ cause.title }}</h1>
                <br>
                <h3 class="card-subtitle">{{ cause.subtitle }}</h3>
                <br>
                <img style="width:25vw;" src="{{ cause.image }}">
                <br>
                <h5>About:</h5>
                <p>{{ cause.description }}</p>
                
                <h5>Starting Date</h5>
           
                <p>{{ cause.dateStart ? cause.dateStart|date('Y-m-d') : '' }}</p>
                
                <h5>Ending Date</h5>
                <p>{{ cause.dateEnd ? cause.dateEnd|date('Y-m-d') : '' }}</p>
            </div>
                
            <div>
                <h3>Signatures collected</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for signatory in signatories %}
                        <tr>
                            <td>{{ signatory.fName }}</td>
                            <td>{{ signatory.lName }}</td>
                            <td>{{ signatory.city }}</td>
                            <td>{{ signatory.country }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3"> 
            <h3>Sign here!</h3>
            {{ include('signatory/_form.html.twig') }}
        </div>
    </div>

    
    <a href="{{ path('sign') }}">back to list</a>


{% endblock %}
