{# {{ form_start(form) }} #}
{#    {{ form_widget(form) }} #}
{#    <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}

{{ form_start(form) }}

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
    </div>


    <div class="form-group col">
        {{ form_label(form.subtitle) }}
        {{ form_widget(form.subtitle) }}
        {{ form_help(form.subtitle) }}
    </div>


    <div class="form-group col">
        {{ form_label(form.datePublished) }}
        {{ form_widget(form.datePublished) }}
        {{ form_help(form.datePublished) }}
    </div>

</div>
<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.authorFn) }}
        {{ form_widget(form.authorFn) }}
        {{ form_help(form.authorFn) }}
    </div>


    <div class="form-group col">
        {{ form_label(form.authorLn) }}
            {{ form_widget(form.authorLn) }}
            {{ form_help(form.authorLn) }}
    </div>


    <div class="form-group col">
        {{ form_label(form.post_type) }}
            {{ form_widget(form.post_type) }}
            {{ form_help(form.post_type) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        {{ form_label(form.imageMain) }}
        {{ form_widget(form.imageMain) }}
        {{ form_help(form.imageMain) }}
    </div>
    <div class="form-group col">
        {{ form_label(form.imageMiddle) }}
        {{ form_widget(form.imageMiddle) }}
        {{ form_help(form.imageMiddle) }}
    </div>
    <div class="form-group col">
        {{ form_label(form.imageBottom) }}
        {{ form_widget(form.imageBottom) }}
        {{ form_help(form.imageBottom) }}
    </div>
</div>

<div class="form-row">
    {{ form_label(form.excerpt) }}
    {{ form_widget(form.excerpt) }}
    {{ form_help(form.excerpt) }}
</div>
<div class="form-row">
    {{ form_label(form.introText) }}
    {{ form_widget(form.introText) }}
    {{ form_help(form.introText) }}
</div>
<div class="form-row">
    {{ form_label(form.mainText) }}
    {{ form_widget(form.mainText) }}
    {{ form_help(form.mainText) }}
</div>
<div class="form-row">
    {{ form_label(form.outroText) }}
    {{ form_widget(form.outroText) }}
    {{ form_help(form.outroText) }}
</div>


<div><button class="btn btn-outline-primary btn-block btn-lg col-md-4 my-3 rounded-0">{{ button_label|default('Save') }}</button></div>


{{ form_end(form) }}

